<div id="shell-setup"> {% comment %} Start of 'shell' section. {% endcomment %}
  <h3>The Bash Shell</h3>
  <p>
    Bash is a commonly-used shell that gives you the power to do simple tasks
    more quickly. Please find setup instructions in
    the <a href="https://librarycarpentry.org/lc-shell/setup.html">lesson</a>.
  </p>
</div>

<div id="r-setup"> {% comment %} Start of 'R' section. {% endcomment %}
  <h3>R and Rstudio</h3>
  <p>R and RStudio are two separate pieces of software:</p>
  <ul>
    <li>R is a programming language that is especially powerful for data exploration, visualization, and statistical analysis</li>
    <li>RStudio is an integrated development environment (IDE) that makes using R easier. In this course we use RStudio to interact with R.</li>
  </ul>
  <p>
    If you don’t already have R and RStudio installed, follow <a href="https://librarycarpentry.org/lc-r/setup.html">these instructions</a>.
  </p>
</div>
